@import './base.css';

:root {
  --accent-color: white;
  --navbar-color: #ba4e00;
}

body {
  display: grid;
  grid-template-columns: 1fr auto;
}

html {
  user-select: none;
  scroll-behavior: smooth;
  /*position: static;*/
  /*border: 1vw solid var(--accent-color);*/
}

img {
  width: 40px;
  height: 40px;
}

ul {
  list-style-type: none;
  /*overflow: hidden;*/
}

header {
  color: var(--accent-color);
  text-align: center;
  font-size: 4rem;
  height: 20vh;
  font-family: "Gill Sans", sans-serif;
  font-weight: bolder;
}

.main {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  text-align: center;
  /* TODO: Remove this set height and border (just used for visualization while developing) */
  /*height: 50vh;*/
  /*border: 5px solid white;*/
  margin: 10vh 10vw auto 0vw;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem dashed var(--accent-color);
  border-radius: 2rem;
  width: 400px;
  height: 400px;
  position: relative;
}

.placeholder-sm {
  display: flex;
  transition: box-shadow 0.3s;
  justify-content: center;
  align-items: center;
  border: 0.5rem dashed var(--accent-color);
  border-radius: 2rem;
  width: 200px;
  height: 200px;
  position: relative;
}

.placeholder-sm:hover {
  cursor: pointer;
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.5);
  border: 0.5rem solid var(--accent-color);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.subtitle {
  position: absolute;
  /* an extra 20 pixels lower than the placeholder (the parent object) height */
  top: 420px;
  font-size: 2rem;
}

/* Right now I'm only using this for the '+' on the main screen, but there might be other applications in the future */
.placeholder-no-show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  position: relative;
  font-size: 5rem;
}

.sections {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /* TODO: Remove this set height and border (just used for visualization while developing) */
  height: 50vh;
  margin: 20vh 10vw auto 10vw;
}

.sections section {
  padding: 20px;
}

.content {
  /*grid-area: content;*/
  /*display: flex;*/
  /*!*flex-wrap: wrap;*!*/
  /*align-items: flex-start;*/
}

.modal-bg {
  /* always fix our modal to the viewport */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  /* darken the screen behind the modal */
  background-color: rgba(0, 0, 0, 0.5);

  /* center the modal */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  /* needed to position the button */
  position: relative;

  background: white;
  padding: 50px 100px;
  border-radius: 5px;
  box-shadow: 0px 10px 5px 2px rgba(0, 0, 0, 0.1);
}
