@import './base.css';

:root {
  --accent-color: white;
  --navbar-color: #ba4e00;
}

body {
  height: 500vh;
}

html {
  scroll-behavior: smooth;
  /*position: static;*/
  /*border: 1vw solid var(--accent-color);*/
}

img {
  width: 40px;
  height: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
}

.nav ul {
  background-color: var(--navbar-color);
}

li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin: auto 2vh;
}

li a {
  color: var(--accent-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.nav {
  font-family: "Gill Sans", sans-serif;
}

.menu {
  position: sticky;
  top: 0;
  align-self: start;
  font-size: 1rem;
}

.menu ul li {
  padding: 1rem;
  border-radius: 0.5rem;
  color: #f2f2f2;
}

.menu ul li.active {
  background-color: #f2f2f2;
  color: var(--color-background);
}

header {
  color: var(--accent-color);
  text-align: center;
  font-size: 4rem;
  height: 5vh;
  margin: 5vh auto;
  font-family: "Gill Sans", sans-serif;
  font-weight: bolder;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* TODO: Remove this set height and border (just used for visualization while developing) */
  /*height: 50vh;*/
  /*border: 5px solid white;*/
  margin: 15vh 15vw auto 15vw;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem dashed var(--accent-color);
  border-radius: 2rem;
  width: 400px;
  height: 400px;
  position: relative;
}

.placeholder-sm {
  transition: box-shadow .3s;
  justify-content: center;
  align-items: center;
  border: 0.5rem dashed var(--accent-color);
  border-radius: 2rem;
  width: 200px;
  height: 200px;
  position: relative;
}

.placeholder-sm:hover {
  cursor: pointer;
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.5);
}

.subtitle {
  position: absolute;
  /* an extra 20 pixels lower than the placeholder (the parent object) height */
  top: 420px;
  font-size: 2rem;
}

/* Right now I'm only using this for the '+' on the main screen, but there might be other applications in the future */
.placeholder-no-show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  position: relative;
  font-size: 5rem;
}

.content {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  text-align: center;
  /* TODO: Remove this set height and border (just used for visualization while developing) */
  height: 50vh;
  margin: 15vh 15vw auto 15vw;
}

.content section {
  padding: 20px;
}
